.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background 1s;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: all 1s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.6);
}

.ex-6-img, .ex-7-img, .ex-8-img {
  width: 500px;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: all 1s;
}

.ex-7-img:hover {
  filter: grayscale(1) sepia(0.4) saturate(0.7);
}

.ex-8-img {
  transition: all 1s;
}

.ex-8-img:hover {
  filter: grayscale(1) sepia(0.4);
  border-radius: 20px;
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: all 1s;
}

.ex-9-img:hover {
  filter: grayscale(1) sepia(0.4);
  border-radius: 20px;
  transform: scale(1.4);
}

.ex-10-icon {
  font-size: 60px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.ex-11-icon {
  font-size: 60px;
}

.ex-11-icon:hover {
  animation-name: rotate-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-2 {
  0% {
    transform: rotate(0deg);
  }

  88% {
    transform: rotate(315deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ex-12-button, .ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
  animation-name: move-12-1;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes move-12-1 {
  0% {
    left: 10%;
  }

  50% {
    left: 60%;
  }

  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: move-12;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes move-12 {
  0% {
    right: 20%;
  }

  50% {
    right: 60%;
  }

  100% {
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation-name: move-13-1;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes move-13-1 {
  0% {
    left: 10%;
    top: -10px;
  }

  30% {
    left: 90%;
    top: -10px;
  }

  45% {
    left: 90%;
    top: 53px;
  }

  70% {
    left: -10px;
    top: 53px;
  }

  90% {
    left: -10px;
    top: -10px;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: move-13;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes move-13 {
  0% {
    right: 20%;
    bottom: -10px;
  }

  30% {
    right: 72%;
    bottom: -10px;
  }

  45% {
    right: 72%;
    bottom: 53px;
  }

  70% {
    right: -20px;
    bottom: 53px;
  }

  90% {
    right: -20px;
    bottom: -10px;
  }

  100% {
    right: 20%;
    bottom: -10px;
  }
}
